body {
  padding-top: 0px;
  margin: 0 auto;
  width: 600px;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #ff7a5a;
}
body img {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  padding: 0px;
}

.text {
  font-size: 22px;
  text-align: left;
  color: white;
  font-weight: 300;
}

.text a {
  color: #8ed2c9;
}
